h4 {
    display: inline-block;
}

img {
    margin-bottom: 0.5em;
    border-radius: 20px;
    margin-top: 1em;
    border: 3px solid black;
}

select {
    border-radius: 45px;
    width: 60px;
}

body {
    background-color: #457b9d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    margin-top: 1em;
    border: 4px solid #1d3557;
    width: 50%;
    background-color: #8ecae6;
}

#buttons {
    margin-bottom: 1em;
}